@model BikeServiceMenager.Models.BikeServiceViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Service Orders</h1>
<div class="container">
    <div class="row">
        <a class="btn btn-primary" asp-action="AddOrderFormDisplay" style="margin-bottom:15px"> Add New Order</a>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Bike
                        </th>
                        <th>
                            Model
                        </th>
                        <th>
                            Client 
                        </th>

                        <th>
                            Order Date
                        </th>
                        
                        <td>
                            To be Ready
                        </td>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ServiceOrderList)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServiceOrderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BikeToService.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BikeToService.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BikeToServiceOwner.Name) @Html.DisplayFor(modelItem => item.BikeToServiceOwner.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfOrderOpen.Year).@Html.DisplayFor(modelItem => item.DateOfOrderOpen.Month).@Html.DisplayFor(modelItem => item.DateOfOrderOpen.Day)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateToBeReady.Year).@Html.DisplayFor(modelItem => item.DateToBeReady.Month).@Html.DisplayFor(modelItem => item.DateToBeReady.Day).
                        </td>
                        <td>
                            <a asp-action="GetOrderDetails" asp-route-id="@item.ServiceOrderId"> Order Details</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


