@model BikeServiceMenager.Models.BikeServiceViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Bike List</h1>


<div class="container">
    <div class="row">
        <a class="btn btn-primary" asp-action="AddingBikeForm" style="margin-bottom:15px"> Add New Bike</a>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Bike Type
                        </th>
                        <th>
                            Brand
                        </th>
                        <th>
                            Model
                        </th>
                        <th>
                            Production Year
                        </th>
                        <th>
                            Owner
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BikeList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BikeId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Model)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.YearOfProduction)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Owner.Surname)
                            </td>
                            <td>
                                <a asp-action="DeleteBike" asp-route-id="@item.BikeId">Delete Bike</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
</div>

