@model BikeServiceMenager.Models.BikeServiceViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Guest List</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Surname
                        </th>
                        <th>
                            client science
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ClientList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClientId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Surname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.YearOfBecameClient.Year)
                            </td>
                            <td>
                                <a asp-action="DeleteClient" asp-route-id="@item.ClientId">Delete</a>
                            </td>
                           
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>
